<%= content_tag :p, t('.latest_info') %>
<% if @rss %>
    <ul>
        <% @rss.each do |i| %>
            <li><%= link_to(truncate(i.title, length: 42), i.link, :target => '_blank') %></li>
        <% end %>
    </ul>
<%= link_to t('.more_link'), APP_CONFIG['blog'], class: 'btn btn-gray', target: '_blank' %>
<% else %>
	<%= content_tag :p, t('.unavailable') %>
<% end %>
