<% @title_text = "About the tool" %>
<% @display_menu = 'about' %>
<div class="static-page">
	<h1>About the DMP-Tool</h1>
	<hr/>
	
	<h2>Table of Contents</h2>
	<ul>
		<li><a title="Why the DMP-Tool?" href="#why">Why the DMP-Tool?</a></li>
		<li><a title="Frequently Asked Questions" href="#faq">Frequently Asked Questions</a></li>
		<li><a title="Video" href="#video">Video</a></li>
		<li><a title="DMP-Tool Background" href="#background">DMP-Tool Background</a></li>
		<li><a title="Partner Institutions" href="#partners">Partner Institutions</li>
		<li><a title="Presentations and Press" href="#press">Presentations and Press</a></li>
		<li><a title="Contact Information" href="#contact">Contact Information</a></li>
	</ul>
	
	<h2 id="why">Why the DMP-Tool?</h2>
	<p>Scholarly researchers today are increasingly required to engage in a range of data management activities to comply with institutional policies. This is because funders increasingly ask researchers to submit data management plans (e.g. the European Commission in the "Open Data Pilot" in Horizon 2020). Additionally, many research institutions have policies on data management which ask their members to create DMPs. The plan describes how research data will be managed in the project and shall ensure that research data can be reused at a later stage. Aspects to cover in a DMP are rights issues (e.g. access rights, licenses, privacy issues), technical aspects (e.g. backup, storage, file formats) and further aspects (e.g. documentation and publication of data).</p>
	<p>To aid researchers in creating effective data management plans (DMPs), a group of organizations collaborated on the development of the DMP-Tool, an online application that helps researchers create data management plans. The DMP-Tool provides detailed guidance and links to general and institutional resources and walks a researcher through the process of generating a comprehensive plan tailored to specific DMP requirements.</p>
	<h2 id="faq">Frequently Asked Questions</h2>
	<p>Go to <a title="DMPTool Askbot" href="http://dmptool.askbot.com" target="_blank">dmptool.askbot.com</a> to see answers to frequently asked questions. Please note that the questions and answers refer to the original "DMPTool" of the California Digital Library. For this reason they do not always apply to the adapted tool provided on this website.</p>
	
	<h2 id="video">Video</h2>
	<p>Want a quick overview of the DMP-Tool? There is a 90-second video describing the original "DMPTool"'s features: 
	<%= link_to "Go to DMPTool Video page", video_path, :title => "Go to DMPTool Video page" %>
	</p>
	<p>The adapted DMP-Tool presented on this website essentially offers the same features, so the video is a good start to give you some guidance.</p>
	
	<h2 id="background">DMP-Tool Background</h2>
	<p>The DMP-Tool offered on this website is an adaptation of the original tool "DMPTool" of the California Digital Library, adapted for German-Speaking countries. The original tool was a grassroots effort, beginning in January 2011 with eight institutions partnering to provide in-kind contributions of personnel and development (
		<a title="The University of California Curation Center" href="http://www.cdlib.org/services/uc3/" target="_blank">The University of California Curation Center</a> (UC3) at the <a title="California Digital Library" href="http://www.cdlib.org" target="_blank">California Digital Library</a>, 
		<a title="DataONE" href="http://www.dataone.org" target="_blank">DataONE</a>, 
		<a title="Digital Curation Centre (UK)" href="http://www.dcc.ac.uk/" target="_blank">Digital Curation Centre (UK)</a>, 
		<a title="Smithsonian Institution" href="http://www.si.edu/" target="_blank">Smithsonian Institution</a>, 
		<a title="University of California, Los Angeles Library" href="http://www.library.ucla.edu/" target="_blank">University of California, Los Angeles Library</a>, 
		<a title="University of California, San Diego Libraries" href="http://libraries.ucsd.edu/" target="_blank">University of California, San Diego Libraries</a>, 
		<a title="University of Illinois, Urbana-Champaign Library" href="http://www.library.illinois.edu/" target="_blank">University of Illinois, Urbana-Champaign Library</a>, 
		and <a title="University of Virginia Library" href="http://www.library.virginia.edu/" target="_blank">University of Virginia Library</a>).
	The effort was in direct response to demands from funding agencies in the USA, such as the National Science Foundation (NSF) and the National Institutes of Health (NIH), that researchers plan for managing their research data.</p>

	<p>Since its release in October 2011, the "DMPTool" has generated huge interest among the science and library community, including its appearance on the Library of Congress' Top 10 Digital Preservation Developments of 2011. As of November 2013, more than 6,000 users from over 600 institutions have used the "DMPTool". Given the success of the first version of the "DMPTool", the founding partners obtained funding from the <a title="Alfred P. Sloan Foundation" href="http://sloan.org" target="_blank">Alfred P. Sloan Foundation</a> to create a second version of the tool, released in 2014.</p>
	
	<h3>Adapted version for the German-speaking countries</h3>
	<p>The IQF project "Landesweit koordinierte Strukturen für Nachweis und effiziente Nachnutzung von Forschungsdaten" was a project funded by the state Baden-Württemberg from January 2014 to February 2016. It was carried out by the <a title="University IT Services of Freiburg University" href="http://www.rz.uni-freiburg.de" target="_blank">University IT Services of Freiburg University</a>, the <a title="Freiburg University Library" href="http://ub.uni-freiburg.de" target="_blank">Freiburg University Library</a> and the <a title="Communication and Information Center (kiz) of Ulm University" href="http://www.uni-ulm.de/einrichtungen/kiz.html" target="_blank">Communication and Information Center (kiz) of Ulm University</a>. One of the project's goals was to find a solution for a data management planning tool that can be used cooperatively by several institutions. The partners decided to adapt the original "DMPTool", which is provided under an open source license, and made technical changes and alterations of its content. For instance, the partners internationalized the tool to provide a multi-lingual User Interface.</p>
	
	<h2 id="partners">Partner Institutions</h2>
	<p>To view a list of current partners, see <%= link_to "Partner Institutions", partners_list_path, :title => "Partner Institutions" %>. Partner institutions can configure the tool to point to their resources and services, provide customized help, and provide suggested answers to the questions asked by funding agencies. DMP-Tool users affiliated with partner institutions can login with their own institutional accounts. For more information see <%= link_to "About Partners", partners_path, :title => "About Partners" %>.</p>
	
	<h2 id="press">Presentations and Press</h2>
	<p>There is a list of presentations and press related to the original "DMPTool" at the blog: <a title="DMPTool Presentations and Press" href="https://blog.dmptool.org/presentations-and-press" target="_blank">DMPTool Presentations and Press</a>.</p>
	<p>Information on the adapted DMP-Tool provided on this website will follow soon.</p>
	
	<h2 id="contact">Contact Information</h2>
	<p>For more information about the DMP-Tool, please <%= link_to "contact us", contact_path, :title => "contact us" %>.</p>
</div>
