<% @title_text = "About the tool" %>
<% @display_menu = 'about' %>
<div class="static-page">
	<h1>Über das DMP-Tool</h1>
	<hr/>
	
	<h2>Inhalt</h2>
	<ul>
		<li><a title="Gründe für das DMP-Tool" href="#why">Gründe für das DMP-Tool</a></li>
		<li><a title="Frequently Asked Questions (FAQs)" href="#faq">Frequently Asked Questions (FAQs)</a></li>
		<li><a title="Video" href="#video">Video</a></li>
		<li><a title="Hintergrundinformationen zum DMP-Tool" href="#background">Hintergrundinformationen zum DMP-Tool</a></li>
		<li><a title="Partnereinrichtungen" href="#partners">Partnereinrichtungen</li>
		<li><a title="Präsentationen und Presse" href="#press">Präsentationen und Presse</a></li>
		<li><a title="Kontaktinformationen" href="#contact">Kontaktinformationen</a></li>
	</ul>
	
	<h2 id="why">Gründe für das DMP-Tool</h2>
	<p>Heutzutage müssen sich Wissenschaftler immer mehr mit Datenmanagementaktivitäten auseinandersetzen, sei es um notwendige Vorbedingung für Publikationen bzw. für die Antragsstellung von Fördermitteln zu erfüllen, oder um institutionellen Richtlinien gerecht zu werden. Die meisten Drittmittelgeber fordern von Wissenschaftlern inzwischen  standardmäßig einen Datenmanagementplan (DMP) oder ähnlichen Punkt als Teil des Drittmittelantrags ein. Um Wissenschaftler bei der Erstellung von effektiven DMPs zu unterstützen, wurde das DMPTool durch eine Gruppe von Organisationen entwickelt und als Online-Tool angeboten. Das DMPTool bietet detaillierte Hilfestellungen und Links zu allgemein gültigen und auf die Einrichtung abgestimmten Ressourcen, und führt den Wissenschaftler durch den Prozess der Erstellung eines Datenmangementplans, der genau auf die speziellen Anforderungen maßgeschneidert ist.</p>	
	<h2 id="faq">Frequently Asked Questions (FAQs)</h2>
	<p>Unter <a title="DMPTool Askbot" href="http://dmptool.askbot.com" target="_blank">dmptool.askbot.com</a> finden Sie die Antworten zu den meistgestellten Fragen und können eigene Fragen stellen.</p>
	
	<h2 id="video">Video</h2>
	<p>Sie möchten sich einen schnellen Überblick über das DMP-Tool verschaffen? Dann schauen Sie sich das 90-sekündige Video zur Beschreibung der DMP-Tool-Funktionalitäten an: 
	<%= link_to "DMP-Tool Video", video_path, :title => "DMP-Tool Video" %>
	</p>
	
	<h2 id="background">Hintergrundinformationen zum DMP-Tool</h2>
	<p>Das ursprüngliche DMPTool wurde von Grund auf ab Januar 2011 durch acht Partnereinrichtungen entwickelt, die sich zusammenschlossen, um gemeinsam zum DMP-Tool beizutragen. Diese Entwicklung war eine direkte Reaktion auf die Forderung durch Fördermittelgeber, wie der National Science Foundation (NSF) und den National Institutes of Health (NIH), dass Wissenschaftler das Management ihre Forschungsdaten planen sollten. Durch die Zusammenarbeit der beteiligten Einrichtungen ist es möglich, Kompetenzen zu bündeln und gleichzeitig Kosten zu senken.</p>
	
	<h3>Die beteiligten Einrichtungen waren:</h3>
	<ul>
		<li><a title="The University of California Curation Center" href="http://www.cdlib.org/services/uc3/" target="_blank">The University of California Curation Center</a> (UC3) bei der <a title="California Digital Library" href="http://www.cdlib.org" target="_blank">California Digital Library</a></li>
		<li><a title="DataONE" href="http://www.dataone.org" target="_blank">DataONE</a> </li>
		<li><a title="Digital Curation Centre (UK)" href="http://www.dcc.ac.uk/" target="_blank">Digital Curation Centre (UK)</a></li>
		<li><a title="Smithsonian Institution" href="http://www.si.edu/" target="_blank">Smithsonian Institution</a></li>
		<li><a title="University of California, Los Angeles Library" href="http://www.library.ucla.edu/" target="_blank">University of California, Los Angeles Library</a></li>
		<li><a title="University of California, San Diego Libraries" href="http://libraries.ucsd.edu/" target="_blank">University of California, San Diego Libraries</a></li>
		<li><a title="University of Illinois, Urbana-Champaign Library" href="http://www.library.illinois.edu/" target="_blank">University of Illinois, Urbana-Champaign Library</a></li>
		<li><a title="University of Virginia Library" href="http://www.library.virginia.edu/" target="_blank">University of Virginia Library</a></li>
	</ul>
	
	<p>Seit der Veröffentlichung im Oktober 2011 gibt es ein riesiges Interesse für das DMP-Tool innerhalb der Wissenschafts- und Bibliotheksgemeinschaft. So war das Tool unter den Library of Congress Top 10 "Digital Preservation" Entwicklungen des Jahres 2011. Mehr als 6000 Benutzer aus über 600 Einrichtungen haben das DMP-Tool, Stand November 2013, verwendet. Durch den großen Erfolg der ersten Version wurden durch die <a title="Alfred P. Sloan Foundation" href="http://sloan.org" target="_blank">Alfred P. Sloan Foundation</a> Mittel zur Entwicklung einer zweiten Version bereitgestellt, welche 2014 veröffentlicht wurde.</p>
	
	<h3>Steuerungsgruppe</h3>
	<p>Die DMPTool-Steuerungsgruppe ist ein kleines Gremium, deren Mitglieder von den ursprünglichen Partnereinrichtungen gewählt werden. Die Steuerungsgruppe entscheidet über die technische, inhaltliche und die Community-Entwicklung des DMPTools. Falls Ihre Institution eine Partnereinrichtung ist und Sie der Steuerungsgruppe beitreten möchten, kontaktieren Sie bitte die California Digital Library (siehe Kontaktdaten weiter unten).</p>
	
	<h2 id="partners">Partnereinrichtungen</h2>
	<p>Partnereinrichtungen können das Tool so gestalten, dass es auf ihre eigenen Ressourcen und Services verweist Sie können angepasste Hilfestellungen anbietet und vorgeschlagene Antworten zur Verfügung stellen. DMPTool-Benutzer können sich, sofern Ihre Einrichtung teilnimmt, mit ihren institutionellen Benutzerdaten (Uni-Login) einloggen. Genauere Informationen finden Sie unter <%= link_to_partners title: partners_text %>. Eine Liste aller aktuellen Partner befindet sich unter <%= link_to_partners_list title: partners_list_text %>.</p>
	
	<h2 id="press">Präsentationen und Presse</h2>
	<p>Die ursprünglichen DMPTool-Entwickler stellen eine Liste von Präsentationen und Presseinformationen über das DMP-Tool unter ihrem Blog <a title="DMPTool Presentations and Press" href="https://blog.dmptool.org/presentations-and-press" target="_blank">DMPTool Presentations and Press</a> bereit.</p>
	
	<h2 id="contact">Kontaktinformationen</h2>
	<p>Für weitere Informationen kontaktieren Sie uns bitte unter <%= link_to_contact title: contact_text %></p>
	<blockquote>
		<strong>Postanschrift:</strong><br/>
		California Digital Library<br />
		UC Office of the President<br />
		415 20th St, 4th Floor<br />
		Oakland CA 94612
	</blockquote>
</div>
