<% @title_text = "Partnereinrichtungen" %>
<% @display_menu = "about" %>
<div class="static-page">
	<h1>Partnereinrichtungen</h1>
	<hr/>
	
	<h2>Inhalt</h2>
	<ul>
		<li><a title="Partnereinrichtung werden" href="#become-partner">Partnereinrichtung werden</a></li>
		<li><a title="Grundsätze der Partner" href="#principles">Grundsätze der Partner</a></li>
		<li><a title="Unterstützende Aktivitäten" href="#activites">Unterstützende Aktivitäten</a></li>
		<li><a title="Liste aktueller Partner" href="#partners">Liste aktueller Partner</a></li>
	</ul>
	
	<h2 id="become-partner">Partnereinrichtung werden</h2>
	<p>DMPTool-Partner sind Institutionen, Wirtschafts- und Non-Profit-Organisationen, Einzelpersonen und andere Gruppen, die sich der Nützlichkeit und dem Erfolg des DMPTools zur effektiven und effizienten Erstellung von Datenmanagementplänen verschrieben haben. Mit dem Aufbau und der Anerkennung von Partnereinrichtungen verfolgen wir das Ziel, eine engagierte Community aufzubauen, die die Entwicklung des DMPTools aufrecht erhält und unterstützt. Institutionen können Partner werden, indem sie sich den Grundsätzen, die unten erläutert sind, verschreiben (Unterschrift nicht nötig) und mindestens eine der folgenden Bedingungen erfüllen:</p>
	<ul>
		<li>Nutzer können sich über eine institutionelle Authentifizierung am DMPTool anmelden (Shibboleth, LDAP, etc.)</li>
		<li>Anpassung des Tools durch Ressourcen, Hilfetexte, Musterantworten oder andere Informationen</li>
		<li>Beitrag zur Wartung und Optimierung der DMPTool-Codebasis</li>
	</ul>

	<h2 id="principles">Grundsätze der Partner</h2>
	<p>Unsere Arbeit am DMPTool wird von den nachfolgenden Grundsätzen bestimmt. Von Institutionen und Organisationen, die Partner des DMPTools sind, wird erwartet, dass sie diese Grundsätze verstehen und sich daran halten.</p>
	<ul>
		<li>Fortlaufende Verbesserung von Funktionen und der Nützlichkeit des DMPTools</li>
		<li>Umsetzung von nutzerorientierten Anforderungen und Prioritäten bei der Entwicklung</li>
		<li>Community-gesteuerte Verbesserungen des Tools</li>
		<li>Enthusiasmus für das DMPTool</li>
		<li>Sicherung der Integrität entwickelter Pläne und angebotener Ressourcen</li>
		<li>Engagement für einen offenen Prozess bei der Entwicklung und Verbesserung des Tools (siehe auch <a title="Panton Principles" href="http://pantonprinciples.org/" target="_blank">Panton Principles</a>).</li>
		<li>Qualität des erzeugten Codes und der Materialien</li>
	</ul>
	<p>Diese Grundsätze werden durch die folgenden Aktivitäten unterstützt.</p>
	
	<h2 id="activites">Unterstützende Aktivitäten</h2>
	<ol>
		<li>Verbesserung der Nutzererfahrung durch Umsetzung einer oder mehrerer dieser Punkte:
			<ul>
				<li>Angebot einer institutionellen Authentifizierung am DMPTool</li>
				<li>Entwicklung einrichtungsspezifischer Richtlinien, Ressourcen und Hilfetexte</li>
				<li>Entwicklung einrichtungsspezifischer Vorlagen für Datenmanagementpläne</li>
				<li>Anpassung der Erscheinung und Funktionalitäten des DMPTools durch Einbinden des Einrichtungslogos und/oder von Kontaktinformationen</li>
			</ul>
		</li>
		<li>Ernennung eines Haupt-Administrators als institutioneller Ansprechpartner für den DMPTool "listserv" und die Kommunikation unter den Partnereinrichtungen.</li>
		<li>Ernennung einer Einzelperson, die die Rolle des institutionellen Administrators innehat. Diese Rolle beinhaltet wichtige Privilegien, was die Anpassung des institutionellen Erscheinungsbilds, sowie Ressourcen, Hilfetexte, Antwortvorschläge in den Plänen und den Feedbackprozess von Plänen betrifft.</li>
		<li>Sicherung der Relevanz und Nützlichkeit des DMPTools. Informieren Sie die DMPTool-Steuerungsgruppe, falls:
			<ul>
				<li>Geldgeber neue Anforderungen herausgeben, die im Tool bisher nicht berücksichtigt sind</li>
				<li>Fehlermeldungen, sonstige Fehler oder Fehlinformationen im Tool entdeckt werden</li>
				<li>die Funktionalität beinträchtigt ist (z.B. langsame Antwortzeiten, schlechte Performance, Software Bugs)</li>
			</ul>
		</li>
		<li>Zu einem Umfeld gemeinsamer Arbeit und Ressourcen beitragen:
			<ul>
				<li>Verfasser von DMPs dazu animieren, ihre Pläne, die mit dem DMPTool erstellt wurden, mit anderen innerhalb der Einrichtung zu teilen oder öffentlich zur Verfügung zu stellen</li>
				<li>Erstellte institutionelle DMP-Vorlagen mit der DMPTool-Community teilen</li>
				<li>Einen Beitrag zur DMPTool-Bibliothek durch eigene Materialien leisten</li>
			</ul>
		</li>
		<li>Teil der umfassenderen DMPTool-Community sein: 
			<ul>
				<li>Einen Beitrag auf dem <a title="DMPTool Blog" href="https://blog.dmptool.org" target="_blank">DMPTool Blog</a> verfassen</li>
				<li>Das DMPTool auf Konferenzen und Treffen präsentieren</li>
				<li>Den "listserv" nutzen, um Datenmanagementneuigkeiten zu teilen</li>
				<li>Verbesserung der Codebasis auf bitbucket.org / github.com</li>
				<li>Bei Kollegen und Institutionen, die noch kein Partner sind, für unsere Ziele werben</li>
			</ul>
		</li>
		<li>Annahme und Zustimmung der folgenden Grundsätze zum Eigentumsrecht und zur Lizenzierung des geistigem Eigentums:
			<ul>
				<li>Beitragende gewährleisten, dass ihre Arbeit für das DMPTool nicht die Rechte einer Person oder Körperschaft verletzen. Dies beinhaltet die Rechte des geistigen Eigentums, beschränkt sich aber nicht auf diese. Diese Gewährleistung beinhaltet, dass Beitragende jegliche institutionellen Rechte ihrer Heimateinrichtung oder des Arbeitgebers berücksichtigt haben und dass jegliche weitere Software (dies gilt auch für Open Source Software), die integriert wurde, angemessen behandelt wurde.</li>
				<li>Zum Projekt beigetragener und akzeptierter Code wird als Open Source integriert und unter der Apache 2.0 Lizenz lizenziert. Bevor der Code integriert und veröffentlicht wird, müssen Beitragende die entsprechende (persönliche und/oder für die Einrichtung geltende) Lizenzvereinbarung akzeptieren sowie unterschreiben.</li>
				<li>Projektinhalte, Dokumentation, Design und andere schriftliche Elemente des DMP-Tools werden ebenfalls über die "Creative Commons Zero" oder "BY" Lizenz zur Verfügung gestellt. Um Zweifel auszuräumen, sind der DMPTool-Name und die Identität rechtlich geschützt und dürfen nur unter Zustimmung der DMPTool-Steuerungsgruppe von anderen genutzt werden.</li>
				<li>Datenmanagementpläne, die im DMPTool aufgeführt sind, bleiben geistiges Eigentum der verfassenden Person/Einrichtung. Nutzer können ihre Pläne jederzeit aus dem DMPTool entfernen.</li>
			</ul>
		</li>
	</ol>

	<h2 id="partners">Liste aktueller Partner</h2>
	<p>Eine Liste der aktuellen Partner ist unter "<%= link_to_partners_list %>" einsehbar.</p>
</div>
