<% @title_text = "Werbung für das DMPTool" %>
<% @display_menu = 'help' %>
<div class="static-page">
	<h1 class"title">Werbung für das DMPTool</h1>
	<hr/>
	
	<h2>Inhalt</h2>
	<ul>
		<li><a title="DMPTool Logo" href="#dmptool-logo">DMPTool Logo</a></li>
		<li><a title="Postkarten" href="#postcards">Postkarten</a></li>
		<li><a title="Poster" href="#posters">Poster</a></li>
		<li><a title="Gesprächsleitfaden" href="#talking-points">Gesprächsleitfaden</a></li>
		<li><a title="Allgemeine Präsentationsfolien" href="#slides">Allgemeine Präsentationsfolien</a></li>
		<li><a title="Werbematerial für die eigene Webseite" href="#embedable">Werbematerial für die eigene Webseite</a></li>
	</ul>
	<p>Helfen Sie dabei, auf das DMPTool aufmerksam zu machen! Verwenden Sie die Materialien weiter unten, um Forschende, Bibliothekare, Administratoren und andere über das DMPTool zu informieren.</p>
	
	<h2 id="dmptool-logo">DMPTool Logo, aktualisiert Januar 2014</h2>
	<ul>
		<li><a title="DMPTool Logo, mit Untertitel" href="https://github.com/CDLUC3/dmpdocs/blob/master/logos/DMPTlogo.jpg">DMPTool Logo, mit Untertitel</a></li>
		<li><a title="DMPTool Logo, ohne Untertitel" href="https://github.com/CDLUC3/dmpdocs/blob/master/logos/DMPTlogo_notagline.jpg">DMPTool Logo, ohne Untertitel</a></li>
		<li><a title="Altes DMPTool Logo" href="https://github.com/CDLUC3/dmpdocs/blob/master/logos/DMPTlogo_old.jpg">Altes DMPTool Logo</a></li>
	</ul>
	
	<h2 id="postcards">Postkarten</h2>
	<p>Werben Sie bei Studenten und Forschenden innerhalb Ihrer Einrichtung für das DMPTool. Die Versionen in Microsoft PowerPoint und Adobe InDesign können Sie anpassen, indem Sie das Einrichtungslogo und die Kontaktinformationen entsprechend ersetzen.</p>
	<ul>
		<li><a title="Microsoft PowerPoint" href="https://github.com/CDLUC3/dmpdocs/blob/master/postcard/DMPTool_Postcard.pptx?raw=true">Microsoft PowerPoint (kann angepasst werden) </a></li>
		<li><a title="Adobe PDF" href="https://github.com/CDLUC3/dmpdocs/blob/master/postcard/DMPTool_postcard.pdf?raw=true">Adobe PDF</a></li>
		<li><a title="Adobe InDesign" href="https://github.com/CDLUC3/dmpdocs/blob/master/postcard/DMPTool_postcard.zip?raw=true">Adobe InDesign (kann angepasst werden)</a></li> 
	</ul>

	<h2 id="posters">Poster</h2>
	<p>Benutzen Sie dieses Poster im Konferenzstil, um auf Veranstaltungen innerhalb Ihrer Einrichtung für das DMPTool zu werben.</p>
	<ul>
		<li><a href="https://github.com/CDLUC3/dmpdocs/blob/master/promos/DMPT2_genericPoster.pptx?raw=true">Microsoft PowerPoint</a></li>
		<li><a href="https://github.com/CDLUC3/dmpdocs/blob/master/promos/DMPT2_genericPoster.pdf?raw=true">Adobe PDF</a></li>
	</ul>
	
	<h2 id="talking-points">Gesprächsleitfaden</h2>
	<p>Möchten Sie in Ihrer Einrichtung das Interesse am DMPTool fördern? Dann nutzen Sie unsere Gesprächsleitfäden, um Ihr Gespräche strukturiert zu führen. Im Allgemeinen soll ein Gesprächsleitfaden Ihnen dabei helfen, bei Treffen mit Personen außerhalb Ihrer Abteilung den roten Faden beizubehalten. Dadurch haben Sie die Hauptpunkte stets zur Hand und können sich den Zielen des Treffens besser nähern.</p>
	<ul>
		<li>Überblick über den Gesprächsleitfaden: <a title="Überblick über den Gesprächsleitfaden: Adobe PDF" href="https://github.com/CDLUC3/dmpdocs/blob/master/talkpoints/overview.pdf?raw=true" target="_blank">Adobe PDF</a></li>
		<li>Treffen mit Ihrer IT-Gruppe: <a title="Treffen mit Ihrer IT-Gruppe: Microsoft Word" href="https://github.com/CDLUC3/dmpdocs/blob/master/talkpoints/IT.docx?raw=true">Microsoft Word</a> oder <a title="Treffen mit Ihrer IT-Gruppe: Adobe PDF" href="https://github.com/CDLUC3/dmpdocs/blob/master/talkpoints/IT.pdf?raw=true">Adobe PDF</a></li>
		<li>Treffen mit Administratoren: <a title="Treffen mit Administratoren: Microsoft Word" href="https://github.com/CDLUC3/dmpdocs/blob/master/talkpoints/admin.docx?raw=true">Microsoft Word</a> oder <a title="Treffen mit Administratoren: Adobe PDF" href="https://github.com/CDLUC3/dmpdocs/blob/master/talkpoints/admin.pdf?raw=true" target="_blank">Adobe PDF</a></li>
		<li>Treffen mit Forschenden: <a title="Treffen mit Forschenden: Microsoft Word" href="https://github.com/CDLUC3/dmpdocs/blob/master/talkpoints/researchers.docx?raw=true">Microsoft Word</a> oder <a title="Treffen mit Forschenden: Adobe PDF" href="https://github.com/CDLUC3/dmpdocs/blob/master/talkpoints/researchers.pdf?raw=true" target="_blank">Adobe PDF</a></li>
	</ul>
	
	<h2 id="slides">Allgemeine Präsentationsfolien</h2>
	<p>Wir haben allgemeine Präsentationsfolien erstellt, welche Sie verwenden können, um Forschende und andere rund um das DMPTool informieren zu können.</p>
	<ul>
		<li><a href="https://github.com/CDLUC3/dmpdocs/blob/master/promos/DMPT2_GenericSlides.pptx?raw=true">Microsoft PowerPoint</a></li>
		<li><a href="https://docs.google.com/presentation/d/1T6nzXl88hyoyfVBXTevAVAJlT5kjOxB8f5aS3rWsbms/edit#slide=id.p14">Google Presentation</a></li>
	</ul>

	<h2 id="embedable">Werbematerial für die eigene Webseite</h2>
	Kopieren Sie den jeweiligen HTML Text und fügen Sie ihn auf Ihrer Webseite ein, um für das DMPTool zu werben. 
	
	<h3>DMPTool Werbung 1</h3>
	<p><a title="Link zum DMPTool" href="http://dmptool.org" target="_blank"><img alt="Link zum DMPTool" title="Link zum DMPTool" src="https://raw.githubusercontent.com/CDLUC3/dmpdocs/master/promos/DMP_ad1.png" width="190" height="190" /></a></p>
	<p><a title="Bild herunterladen" href="https://raw.githubusercontent.com/CDLUC3/dmpdocs/master/promos/DMP_ad1.png">Bild herunterladen</a></p>
	<pre>&lt;a title="Link zum DMPTool" href="http://dmptool.org" target="_blank"&gt;&lt;img src="https://raw.githubusercontent.com/CDLUC3/dmpdocs/master/promos/DMP_ad1.png" alt="Link zum DMPTool" title="Link zum DMPTool" width="190" height="190" /&gt;&lt;/a&gt;</pre>
	
	<h3>DMPTool Werbung 2</h3>
	<p><a title="Link zum DMPTool" href="http://dmptool.org" target="_blank"><img alt="Link zum DMPTool" title="Link zum DMPTool" src="https://raw.githubusercontent.com/CDLUC3/dmpdocs/master/promos/DMP_ad2.png" width="190" height="190" /></a></p>
	<p><a title="Bild herunterladen" href="https://raw.githubusercontent.com/CDLUC3/dmpdocs/master/promos/DMP_ad2.png">Bild herunterladen</a></p>
	<pre>&lt;a title="Link zum DMPTool" href="http://dmptool.org" target="_blank"&gt;&lt;img src="https://raw.githubusercontent.com/CDLUC3/dmpdocs/master/promos/DMP_ad2.png" alt="Link zum DMPTool" title="Link zum DMPTool" width="190" height="190" /&gt;&lt;/a&gt;</pre>
	
	<h3>DMPTool Werbung 3</h3>
	<p><a title="Link zum DMPTool video" href="http://dmptool.org/video" target="_blank"><img alt="Link zum DMPTool video" title="Link zum DMPTool video" src="https://raw.githubusercontent.com/CDLUC3/dmpdocs/master/promos/DMP_ad3.png" width="190" height="190" /></a></p>
	<p><a title="Bild herunterladen" href="https://raw.githubusercontent.com/CDLUC3/dmpdocs/master/promos/DMP_ad3.png">Bild herunterladen</a></p>
	<pre>&lt;a title="Link zum DMPTool Video" href="http://dmptool.org/video" target="_blank"&gt;&lt;img src="https://raw.githubusercontent.com/CDLUC3/dmpdocs/master/promos/DMP_ad3.png" alt="Link zum DMPTool Video" title="Link zum DMPTool Video" width="190" height="190" /&gt;&lt;/a&gt;</pre>
	
	<h3>DMPTool Werbung 4</h3>
	<p><a title="Link zum DMPTool" href="http://dmptool.org/" target="_blank"><img alt="Link zum DMPTool" title="Link zum DMPTool" src="https://raw.githubusercontent.com/CDLUC3/dmpdocs/master/promos/DMP_ad4.png" width="190" height="190" /></a></p>
	<p><a title="Bild herunterladen" href="https://raw.githubusercontent.com/CDLUC3/dmpdocs/master/promos/DMP_ad4.png">Bild herunterladen</a></p>
	<pre>&lt;a title="Link zum DMPTool" href="http://dmptool.org/" target="_blank"&gt;&lt;img src="https://raw.githubusercontent.com/CDLUC3/dmpdocs/master/promos/DMP_ad4.png" alt="Link zum DMPTool" title="Link zum DMPTool" width="190" height="190" /&gt;&lt;/a&gt;</pre>
</div>
