<% @title_text = "Nutzungsbedingungen" %>
<div class="static-page">
	<h1>Data Management Planning Tool (DMPTool) Nutzungsbedingungen</h1>
	<hr/>
	
	<h2>Inhalt</h2>
	<ul>
		<li><a title="CDL Webportal: Von der CDL gesammelte Informationen" href="#information">CDL Webportal: Von der CDL gesammelte Informationen</a></li>
		<li><a title="CDL Webportal: Datenschutz" href="#privacy">CDL Webportal: Datenschutz</a></li>
		<li><a title="CDL Webportal und CDL Services: Digital Millennium Copyright Act" href="#copyright">CDL Webportal und CDL Services: Digital Millennium Copyright Act</a></li>
	</ul>
	<p>Das DMPTool wird von der California Digital Library gehostet. Für das DMPTool gelten die untenstehenden Nutzungsbedingungen.</p>
	
	<h2 id="information">CDL Webportal: Von der CDL gesammelte Informationen</h2>
	<p>Die CDL unterstützt, dass diese Webseite unabhängig von der Domainadresse dazu genutzt wird, Informationen und Wissen zu teilen, um die dreiteilige Zielsetzung der Universität (Lehre, Forschung, öffentlicher Dienst) zu unterstützen. Die Seite gehört dem Verwaltungsrat der University of California und wird durch die CDL betrieben. Der Inhalt der Seite kann jederzeit ohne Vorankündigung geändert werden. Während die meisten Bereiche dieser Webseite öffentlich zugänglich sind, können bestimmte Angebote und Informationen, die online angeboten werden, auf bestimmte Nutzer oder Segmente der University of California beschränkt sein.</p>
	
	<h2 id="privacy">CDL Webportal: Datenschutz</h2>
	<p>Das CDL Webportal (www.cdlib.org) sammelt Informationen, um die Funktionalität und den Inhalt zu verbessern und um die Leistung zu überwachen. Diese Daten werden genutzt, um spezifische Fragen zur Nutzung und Performance der Webseite oder einzelner Seiten zu beantworten. Zu keiner Zeit wird die Seitennutzung mit einer individuellen IP-Adresse in Verbindung gebracht. Siehe auch die vollständige <a title="California Digital Library Privacy Policy" href="http://www.cdlib.org/about/privacy.html" target="_blank">California Digital Library Privacy Policy.</a></p>
	
	<h2 id="copyright">CDL Webportal und CDL Services: Digital Millennium Copyright Act</h2>
	<p>Grundsatz der CDL ist es, allen Bitten um Entfernung (DMCA takedown) nachzukommen, die mit den Anforderungen an eine Meldung laut des Digital Millennium Copyright Act ("DMCA") und anderen Datenschutzgesetzen konform sind.</p>
	<p>1. <strong>Meldung von Urheberrechtsverletzungen:</strong> Um eine mögliche Urheberrechtsverletzung zu melden, müssen Sie eine schriftliche Mitteilung mit den unten genannten Punkten an uns senden. (Bitten Sie Ihre Rechtsberatung um Hilfe oder konsultieren Sie Abschnitt 512(c)(3) des Copyright Acts, um diese Anforderungen zu bestätigen):</p> 
	<ul>
		<li>Eine physische oder elektronische Unterschrift einer Person, die befugt ist, im Auftrag des Rechteinhabers ("authorized person"), dessen ausschließliches Recht angeblich verletzt wurde, zu handeln.</li>
		<li>Identifizierung des urheberrechtlich geschützten Materials, das Gegenstand der angeblichen Rechtsverletzung ist, oder, falls mehrere urheberrechtlich geschützte Materialien in einer Mitteilung erfasst werden, eine repräsentative Liste dieser Materialien.</li>
		<li>Identifizierung des Materials, das die Verletzung des Urheberrechts darstellen oder das die Verletzung ausführen soll und welches zu entfernen ist oder der Zugang zu welchem zu unterbinden ist, und Information dazu, die für die CDL ausreichend sind, um das entsprechende Material zu finden. Die Angabe von URLs in Ihrer schriftlichen Mitteilung ist der beste Weg, um uns beim Auffinden des Inhalts zu helfen.</li>
		<li>Ausreichende Informationen für die Herstellung eines Kontakts zur autorisierten Person durch die CDL (z.B. Adresse, Telefonnummer und, wenn möglich, eine E-Mail Adresse).</li>    
		<li>Eine Erklärung, dass die autorisierte Person der Überzeugung ist, dass die Nutzung des Materials in der dargestellten Weise nicht vom Rechteinhaber, einem Beauftragten oder durch die Rechtslage genehmigt ist.</li>
		<li>Eine Erklärung, dass die Angaben in der Mitteilung korrekt sind, und eidesstattlich versichern können, dass die autorisierte Person dazu berechtigt ist, für den Rechteinhaber eines exklusiven Nutzungsrechtes, das angeblich verletzt wurde, zu handeln.</li>
	</ul>
	<p>Die schriftliche Mitteilung richten Sie bitte per E-Mail (bevorzugt) oder per Post an:</p>
	<blockquote>
		<a title="Laine Farley" href="http://www.universityofcalifornia.edu/directories/ucopsearch.php?first_name=laine&amp;last_name=farley&amp;submit=1" target="_blank"><strong>Laine Farley</strong></a><br/>
		<strong>Director, California Digital Library</strong><br/>
		Office of the President<br/>
		University of California<br/>
		415 20th Street, 4th Floor<br/>
		Oakland, CA 94612-2901
	</blockquote>     
	<p>Bitte beachten Sie, dass die in der schriftlichen Mitteilung angegebenen Informationen an die Person weitergeleitet werden können, die für die vermeintlich rechtsverletzende Aktivität verantwortlich ist. Beachten Sie bitte ebenfalls, dass laut Abschnitt 512(f) des Copyright Act jede Person, die wissentlich fälschlich behauptet, dass Material oder Abläufe Urheberrechte verletzen, für Schäden haftbar gemacht werden können. Erheben Sie daher keine falschen Behauptungen!</p>
	<p>2. <strong>Gegendarstellung:</strong> Wenn die CDL eine DMCA-Entfernungsmeldung erhält, entfernt die CDL das gemeldete Material. Sollte die CDL Material entfernen, das Sie in einem der CDL-Dienste hochgeladen haben, werden Sie kontaktiert.</p>
	<p>Wenn Sie der Meinung sind, dass Ihr Inhalt fälschlicherweise entfernt wurde, können Sie eine DMCA-Gegendarstellung verfassen. Diese muss die untenstehenden Punkte erfüllen. Bitten Sie Ihre Rechtsberatung um Hilfe oder konsultieren Sie Abschnitt 512(g)(3) des Copyright Acts um diese Anforderungen zu bestätigen:</p>
	<ul>
		<li>Ihren Namen, Adresse, Telefonnummer und schriftliche oder elektronische Unterschrift;</li>
		<li>Identifizierung des Materials sowie Angabe der Stelle, an der sich das Material vor der Entfernung befand;</li>
		<li>Eine eidesstattliche Erklärung, dass dieses Material aufgrund eines Fehlers oder einer Verwechslung des Materials fälschlicherweise entfernt wurde;</li>
		<li>Ihre Zustimmung, dass Sie die Rechtsprechung der Gerichte am Ort Ihres Wohnsitzes anerkennen bzw. wenn Sie Ihren Wohnsitz außerhalb der Vereinigten Statten haben, dass Sie die Rechtsprechung der Gerichte des entsprechenden Gerichtsbezirkes anerkennen, in dem die CDL ansässig ist; und</li>
		<li>Eine Erklärung, dass Sie die Klagezustellung derjenigen Person anerkennen, die die Mittelung der behaupteten Rechtsverletzung eingereicht hat.</li>
	</ul>
	<p>Schicken Sie die schriftliche Gegendarstellung bitte per E-Mail (bevorzugt) oder per Post an:</p>
	<blockquote>
		<a title="laine Farley" href="http://www.universityofcalifornia.edu/directories/ucopsearch.php?first_name=laine&amp;last_name=farley&amp;submit=1" target="_blank"><strong>Laine Farley</strong></a><br/>
		<strong>Director, California Digital Library</strong><br/>
		Office of the President<br/>
		University of California<br/>
		415 20th Street, 4th Floor<br/>
		Oakland, CA 94612-2901
	</blockquote>
	<p>Bitte beachten Sie, dass die in der schriftlichen Gegendarstellung angegebenen Informationen an die Person weitergeleitet werden, welche die Meldung zur Entfernung (DMCA takedown) eingereicht hat. Dem stimmen Sie mit Abgabe Ihrer Gegendarstellung zu. Bitte beachten Sie außerdem, dass laut Section 512(f) des Copyright Act jede Person, die wissentlich fälschlich behauptet, dass Material oder Abläufe versehentlich oder aufgrund einer Fehlidentifizierung entfernt oder blockiert wurde, für Schäden haftbar gemacht werden kann.</p>
	<p>Bitt beachten Sie ebenfalls, dass wir unter entsprechenden Umständen Nutzeraccounts von Personen schließen, die wiederholt Urheberrechte verletzen.</p>
	<p>DIE INFORMATIONEN AUF DIESER SEITE DIENEN AUSSCHLIEẞLICH ZU INFORMATIONSZWECKE UND SIND NICHT ALS RECHTSBERATUNG ZU VERSTEHEN.</p>
</div>
