<p>
  By clicking the <strong><%= t('users.import.submit_button') %></strong> button you agree to our
  <%= link_to_terms_of_use target: '_blank' %> and our <%= link_to_privacy target: '_blank' %>.
</p>
