<p>
  Mit einem Klick auf den <strong><%= t('users.import.submit_button') %></strong>-Button stimmen Sie unseren
  <%= link_to_terms_of_use target: '_blank' %> und unserer <%= link_to_privacy target: '_blank' %> zu.
</p>
