<div class="search-area">
	<%= form_tag('', {:method => :get}) do %>
	<div class="control-group">
		<%= render partial: 'shared/search', locals: {placeholder: t('.search_placeholder')} %>
	</div>
	<% end %>
</div>



