<% @title_text = page_title %>

<div class="error-message">
  <h1 class="red"><%= top_heading_text %></h1>
  <p><%= t('.message') %></p>
  <p><%= t('.try_again') %></p>
  <p><strong><%= render_back_button green: true, arrow: true %></strong></p>
</div>
