<%= form_tag(change_visibility_path, id: "visibility_form", method: :post) do %>

  <%= hidden_field_tag(:plan_id, plan_id, id: 'shared_plan_id') %>

	<div id="change_visibility_message"></div>

  <%= render partial: 'visibility_selection', locals: {visibility: visibility} %>

<% end %>