<%# This was hard to i13e in a clean way, so it was moved to a dedicated partial. %>
<span>
  Note: when visibility is set to "Public", your DMP will appear on the
  <%= link_to 'Public DMPs', public_dmps_path %>
  page of this site and it will be downloadable and copy-able.
</span>
