<ul>
	<% unless @plan_states.nil? %>
		<% @plan_states.each do |planstate| %>
		<% unless planstate.state.nil? %>
		  <li>
				<span class="date-updated"><%= l(planstate.updated_at)%></span>
				<%= t('.status_change_html', user: plan_user(planstate), state: translated_state(planstate)) %>
		  </li>
			<% end %>
		<% end %>
	<% end %>
</ul>
