<%= t('.description_html') %>
<ul>
  <% @public_dmps.each do |plan| %>
    <li><%= link_to plan.name, plan_path(plan, format: "pdf") %></li>
  <% end %>
</ul>
<%= link_to t('.view_all_button'), public_dmps_path, :class => "btn btn-gray" %>
