<%= t('.description_html') %>
<ul>
  <% @public_dmps.each do |plan| %>
    <li><%= link_to plan.name, plan_path(plan, format: "pdf") %></li>
  <% end %>
</ul>
<%= render_button_link '.view_all', public_dmps_path, class: 'btn-gray' %>
