<div style="width: 500px; float: right; line-height: 20px; margin-right: 150px;">
  Note: When <%= RequirementsTemplate.human_attribute_name(:visibility) %> is
  set to "<%= t_enum(:requirements_template, :visibility, :public) %>",
  your <%= Plan.model_name.human %> will appear on the
  <%= link_to_public_dmps %>
  page of this site and it will be downloadable and copy-able.
</div>
