<footer class="footer container">
	<div class="row-fluid">
		<div class="copyright span7">
			<%= layout.footer.credits %>
		</div>
		<div class="footer-links span5">
			<div class="footer-feeds">
				<%= layout.footer.each_icon.reduce(&:+) %>
			</div>
			<p>
				<%= layout.footer.each_link.map {|link| link.wrap(:separator_tag, ' | ')}.reduce(&:+) %>
			</p>
		</div>
	</div>
</footer>
